@font-face {
    font-family: Minecraftia;
    src: url(Minecraftia.ttf);
}

body {
    background-color: beige;
    font-family: 'Minecraftia';
    font-weight: normal;
    font-style: normal; 
    margin: 0px;
}

.Heading {
    text-align: center;
    padding-top: 20px;
}

.navbar {
    border: burlywood solid;
    background-color: burlywood;
    overflow: hidden;
    height: 35px;
    display: flex;
}

.F {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

button {
  font-family: Minecraftia;
  padding: 6px 15px;
  margin-left: 25px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #aa7e04;
  border: none;
  border-radius: 6px;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #523107;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

[data-tab-content]{
    display: none;
}

.active[data-tab-content]{
    display: block;
}

.active[data-tab-target]{
    background-color: #3e8e41;
}

#paper1 {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 1000px;
    width: 900px;
}

#paper2 {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

iframe {
    height: 1000px;
    width: 900px;
}

@media only screen and (min-width:300px) and (max-width:500px){
    body {
    background-color: beige;
    font-family: 'Minecraftia';
    font-weight: normal;
    font-style: normal; 
    margin: 0px;
}

.Heading {
    text-align: center;
    padding-top: 20px;
}

.navbar {
    border: burlywood solid;
    background-color: burlywood;
    overflow: hidden;
    height: 30px;
    position:relative;
}

.F {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

iframe {
    width: 375px;
    height: 800px;
}

button {
  font-family: Minecraftia;
  padding: 5px 15px;
  margin-left: 14px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #aa7e04;
  border: none;
  border-radius: 6px;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #523107;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

[data-tab-content]{
    display: none;
}

.active[data-tab-content]{
    display: block;
}

.active[data-tab-target]{
    background-color: #3e8e41;
}

#paper1 {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#paper2 {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
}