@font-face {
    font-family: Kaisei;
    src: url(KaiseiOpti-Regular.ttf);
}

@font-face {
    font-family: roboto;
    src: url(RobotoSlab-VariableFont_wght.ttf);
}

body {
    background-color: #171C2E;
    font-family:Kaisei;
    font-weight: normal;
    font-style: normal; 
}

.Heading {
    text-align: center;
    padding-top: 130px;
    font-size:7mm;
    color:#fff;
}

.Title{
    font-size: 6rem;
    background: linear-gradient(
        to right,
        rgb(250,78,10),
        rgb(247,12,204),
        rgb(0,106,255),
        rgb(42, 207, 10),
        rgb(250,78,10)
    );
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: gradientAnimation 3s linear infinite;
}

@keyframes gradientAnimation{
    0%{
        background-position: 200% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}


#access{
    margin-left: auto;
    margin-right: auto;
    width: 210mm;
}

.Dash{
    padding: 15px;
}

#Home{
    padding: 6px 14px;
    border-radius: 0;
    border-color: rgb(226, 224, 224);
    background-color: #171C2E;
    color:#d6d1d1;
    font-size: 25px;
    font-family: roboto;
    border-width: 3px;
    font-weight: bold;
    border-style: solid;
}
/*
button {
  font-family: Minecraftia;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #aa7e04;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #523107;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.forensic{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.community{
   max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; 
}
*/

.Hyperlinks{
    text-align: center;
}

#links{
    padding: 100px;
    color: #fff;
    font-size: x-large;
    display: flexbox;
}

